<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.fantasybox.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="cn.edu.nju.fantasybox.entity.ProductEntity">
        <result property="id" jdbcType="BIGINT" column="id" />
        <result property="userId" jdbcType="BIGINT" column="user_id" />
        <result property="productName" jdbcType="VARCHAR" column="product_name" />
        <result property="username" jdbcType="VARCHAR" column="username" />
        <result property="userAvatar" jdbcType="VARCHAR" column="user_avatar" />
        <result property="coverUrl" jdbcType="VARCHAR" column="cover_url" />
        <result property="fileUrl" jdbcType="VARCHAR" column="file_url" />
        <result property="description" jdbcType="VARCHAR" column="description" />
        <result property="releaseTime" jdbcType="TIMESTAMP" column="release_time" />
        <result property="modifyTime" jdbcType="TIMESTAMP" column="modify_time" />
        <result property="selectTag" jdbcType="VARCHAR" column="select_tag"/>
        <!-- tags集合 -->
        <collection property="tagList" ofType="cn.edu.nju.fantasybox.entity.TagEntity">
            <id property="id" column="tid" />
            <result property="productId" column="product_id" />
            <result property="tagName" column="tag_name" />
        </collection>

    </resultMap>

    <select id="findProductByTag" resultMap="ProductResultMap">
        SELECT
            p.*
        FROM
            product p,
            tag t
        WHERE
            p.`id` = t.`product_id`
            AND t.`tag_name` = #{tagName}
        ORDER BY
            p.modify_time DESC
    </select>

    <select id="findProductByTagList" resultMap="ProductResultMap" parameterType="list">
        SELECT
            p.*,
            t.`tag_name` AS select_tag
        FROM
            product p,
            tag t
        WHERE
            p.`id` = t.`product_id`
            AND t.`tag_name` IN
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
        ORDER BY
            field( t.tag_name,
        <foreach item="item" collection="list" separator="," open="" close="" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
             ),
            p.modify_time DESC
    </select>

    <select id="findHotProduct" resultMap="ProductResultMap">
        SELECT
            p.*
        FROM
            product p
        ORDER BY
            p.modify_time DESC
            LIMIT #{num}
    </select>

    <select id="findProductByUserId" resultMap="ProductResultMap">
        SELECT
            p.*
        FROM
            product p
            LEFT JOIN tag t ON t.`product_id` = p.`id`
        WHERE
            p.`user_id` = #{userId}
    </select>

    <select id="select" resultMap="ProductResultMap">
        SELECT
            p.*,
            t.`id` AS tid,
            t.`tag_name`
        FROM
            product p
            LEFT JOIN tag t ON p.id = t.product_id
        WHERE
            p.id = #{id}
        ORDER BY
            p.modify_time DESC
    </select>

    <insert id="insertProduct" parameterType="cn.edu.nju.fantasybox.entity.ProductEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product ( user_id, product_name, username, user_avatar, file_url, description )
        VALUES
            (#{userId,jdbcType=BIGINT},#{productName,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},
        #{userAvatar,jdbcType=VARCHAR},#{fileUrl,jdbcType=VARCHAR},#{description,jdbcType=BIGINT})
    </insert>

</mapper>